<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <style>
        .fade-enter-active,
        .fade-leave-active {
            transition: opacity .5s
        }

        .fade-enter,
        .fade-leave-to
        /* .fade-leave-active для <2.1.8 */

        {
            opacity: 0
        }
    </style>
</head>

<body>

    <div id="app">
        {{ message }}
    </div>

    <div id="app-2">
        <span v-bind:title="message">
    Подержи курсор надо мной пару секунд,
    чтобы увидеть динамически связанное значение title!
      </span>
    </div>

    <div id="app-3">
        <p v-if="seen">Сейчас меня видно</p>
    </div>

    <div id="demo">
        <button v-on:click="show = !show">
        Переключить
        <p>
            {{show}}
        </p>
      </button>
        <transition name="fade">
            <p v-if="show">hello</p>
        </transition>
    </div>

    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>

    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Обратить порядок букв в сообщении</button>
    </div>

    <div id="app-6">
      <p>{{ message }}</p>
      <input v-model="message">
    </div>


    <div id="app-7">
      <ol>
        <!-- Теперь мы можем передать каждому todo описание задачи, -->
        <!-- то есть отображать данные динамически                  -->
        <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
      </ol>
    </div>

    <div id='app-8'>
        <p>Выполните поиск</p>
        <input v-model='setcolor' type="text">
        <p>        {{result}}        </p>
        <p v-bind:style='{backgroundColor: usercolor}'>
            Text
        </p>
    </div>

    <div id='app-9'>
        <h1>Укажите число юзеров отображаемых в результате</h1>
        <input v-model='set_value'>
        <input v-on:click='GetUsers_info' value='sumbit' type="button">
        <p>{{ count }}</p>

        <table>
            <thead>
                <template v-if='ansver.info'>
                    <tr>
                        <th v-if='ansver.info[0].userId'>User Id</th>
                        <th v-if='ansver.info[0].currency'>Currency</th>
                        <th v-if='ansver.info[0].startDate'>Date</th>
                    </tr>
                </template>
            </thead>
            <tbody>
                <template v-if='ansver.info' v-for='items in ansver.info'>
                    <tr>
                        <td v-if='items.userId'>{{items.userId}}</td>
                        <td v-if='items.currency'>{{items.currency}}</td>
                        <td v-if='items.startDate'>{{new Date(items.startDate)}}</td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>




    <script>
    var app9 = new Vue({
        el:'#app-9',
        data:{
            set_value:'',
            ansver:'',
            count:''
        },
        methods:{
            GetUsers_info:function () {
                var appthis = this;
                $.ajax({
                    url:'http://autorisation.bossgs.org/interstat/dev/api.php?getCasinoUser&all&start=1&step=' + this.set_value,
                    dataType:'JSON',
                    type:'GET',
                    success:function (data) {
                        if(data.count){
                            appthis.count='Получено записей '+ data.countOutput + ' из '+data.count;
                            appthis.ansver = data;
                            console.log(appthis.ansver);
                        }else{
                            appthis.count='Записепй не найдено';
                        }

                    }
                })
            },
        }
    })





    var app8 = new Vue({
        el: '#app-8',
        data:{
            setcolor:'',
            result: 'Цвет',
            usercolor:'none'
        },
        watch:{
            setcolor: function(newselector){
                this.resultfunc()
            }
        },
        methods:{
            resultfunc:function () {
                this.result = "Выбраный цвет: "+this.setcolor;
                this.usercolor = this.setcolor;
            }
        }
    })



    Vue.component('todo-item', {
      props: ['todo'],
      template: '<li>{{ todo.text }}</li>'
    })
    var app7 = new Vue({
      el: '#app-7',
      data: {
        groceryList: [
          { text: 'Овощи' },
          { text: 'Сыр' },
          { text: 'Что там ещё люди едят?' }
        ]
      }
    })
    var app6 = new Vue({
      el: '#app-6',
      data: {
        message: 'Hello Vue!'
      }
    })
        var app5 = new Vue({
            el: '#app-5',
            data: {
                message: 'Hello Vue.js!'
            },
            methods: {
                reverseMessage: function() {
                    this.message = this.message.split('').reverse().join('')
                }
            }
        })
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!'
            }
        })
        var app2 = new Vue({
            el: '#app-2',
            data: {
                message: 'Вот когда вы загрузили эту страницу: ' + new Date()
            }
        })
        var app3 = new Vue({
            el: '#app-3',
            data: {
                seen: true
            }
        })

        var demo = new Vue({
            el: '#demo',
            data: {
                show: true
            }
        })

        var app4 = new Vue({
            el: '#app-4',
            data: {
                todos: [{
                        text: 'Посадить дерево'
                    },
                    {
                        text: 'Построить дом'
                    },
                    {
                        text: 'Вырастить сына'
                    }
                ]
            }
        })
    </script>

</body>

</html>
